.Rproj.user
.Rhistory
.RData
.Ruserdata


# Contains all the necessary data and scripts to replicate the analyses

## Raw data
* Wind data for sites located along the west coast of South Africa (upwelling region)
* Wind data obtained from 1994 - 2018 (to present)